<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576773376293-23bia33lrlc8nqsadb79g779jli50bpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576773376293-23bia33lrlc8nqsadb79g779jli50bpk</string>
	<key>API_KEY</key>
	<string>AIzaSyB3bcIjQdX1JZWJIca2wxPT-rIt3GfW1Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>576773376293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myuniapp</string>
	<key>PROJECT_ID</key>
	<string>my-uni-f8498</string>
	<key>STORAGE_BUCKET</key>
	<string>my-uni-f8498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576773376293:ios:adaaf7cc0d12a0d0b332cc</string>
	<key>DATABASE_URL</key>
	<string>https://my-uni-f8498.firebaseio.com</string>
</dict>
</plist>